<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FFCD00;"></span>
		<span class="sg-label">#FFCD00 $gold</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F5BD18;"></span>
		<span class="sg-label">#F5BD18 $gold-dark</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FE5E00;"></span>
		<span class="sg-label">#FE5E00 $orange</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E55500;"></span>
		<span class="sg-label">#E55500 $orange-dark</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080 $gray</span>
	</li>	
	<li>
		<span class="sg-swatch" style="background: #56565A;"></span>
		<span class="sg-label">#56565A $gray-dark</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EBE7E3;"></span>
		<span class="sg-label">#EBE7E3 $gray-light</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff $white</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0098D9;"></span>
		<span class="sg-label">#0098D9 $blue</span>
	</li>	
	<li>
		<span class="sg-swatch" style="background: #00A1C6;"></span>
		<span class="sg-label">#00A1C6 $blue-dark</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000 $black</span>
	</li>
		
</ul>