<p>Primary font: "Franklin Gothic", Arial, sans-serif;</p>
<p><em>Primary font italic: "Franklin Gothic", Arial, sans-serif;</em></p>
<p><strong>Primary font bold: "Franklin Gothic", Arial, sans-serif;</strong></p>
<p class="font-secondary">Secondary font: "Blender Pro", Arial, sans-serif</p>
<p class="font-secondary"><em>Secondary font italic: "Blender Pro", Arial, sans-serif</em></p>
<p class="font-secondary"><strong>Secondary font bold: "Blender Pro", Arial, sans-serif</strong></p>