/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */

h1, h5, h6 {
	font-weight: 700;
	line-height: 1.2;
}
h2, h3, h4 {
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0 0 1.1em;
	line-height: 1.2;
}
h1, h2, h3, .large-text {
    font-family: $font-secondary; 
}


/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
